<section id="first-section">
	<div class="container-fluid">
		<div class="row flex">
			<div class="col-md-6 flex flex-column-center">
				<div class="text-content">
					<h1 class='title text-center'>Спорт и рекреација</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<p class="text text-center">
						Бањскиот комплекс  располага со три фудбалски терени, патеки за трчање и пешачење, патеки за велосипедисти и  теретана. Пријатната клима и благите зими создаваат идеални услови за рекреација и професионална обука на спортисти. Поради ова  но и поради достапните и континуирани здравствени услуги голем број фудбалски тимови од земјава и странство, ракометни тимови, атлетичари и спортисти од други профили редовно ги обавуваат своите подготовки  во бањскиот комлекс.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img-wrapper">
					<img class="img-responsive" src="{{ theme_url }}/images/football-recreation.jpg">
				</div>
			</div>
		</div>
	</div>
</section>