<section id="second-section">
	<div class="banner">
		<div class="text-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 text-center">
						<h1 class="title">Спорт и рекреација</h1>
						<div class="separator center">
							<img src="{{ theme_url }}/images/separator.png">
						</div>
						<p class="text full">
							Бањскиот комплекс располага со три фудбалски терени, патеки за трчање и пешачење, патеки за велосипедисти и теретана. Пријатната клима и благите зими создаваат идеални услови за рекреација и професионална обука на спортисти. Поради ова но и поради достапните и континуирани здравствени услуги голем број фудбалски тимови од земјава и странство, ракометни тимови, атлетичари и спортисти од други профили редовно ги обавуваат своите подготовки во бањскиот комлекс.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</section>