<section id="third-section">
	<div class="container-fluid">
		<div class="row flex">
			<div class="col-md-6">
				<div class="img-wrapper">
					<img src="{{ theme_url }}/images/bikes-recreation.jpg" class="img-responsive">
				</div>
			</div>
			<div class="col-md-6 flex flex-column-center text-center">
				<div class="text-content">
					<h1 class="title">Спорт и рекреација</h1>
					<div class="separator">
						<img src="{{ theme_url }}/images/separator.png">
					</div>
					<p class="text">
						Бањскиот комплекс располага со три фудбалски терени, патеки за трчање и пешачење, патеки за велосипедисти и теретана. Пријатната клима и благите зими создаваат идеални услови за рекреација и професионална обука на спортисти. Поради ова но и поради достапните и континуирани здравствени услуги голем број фудбалски тимови од земјава и странство, ракометни тимови, атлетичари и спортисти од други профили редовно ги обавуваат своите подготовки во бањскиот комлекс.
					</p>
				</div>
			</div>
		</div>
		<hr class="hr">
		<div class="row">
			<div class="offer">	
				<div class="container-fluid text-center">
					<h2 class="title">Како да ги користите нашите услуги?</h2>
					<div class="button-wrapper">
						<a target="_blank" href="{{theme_url }}/Cenovnik.pdf" class="btn btn-gradient read">
							<span>Прочитајте</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>