<section id="banner-section">
	<div class="banner">
		<div class="content">
			<div class="logo-content">
				<div class="logo-wrapper">
					Logo
				</div>
			</div>
			<div class="text-content">
				<h1 class="title">Здравствен<br>оддел</h1>
				<p class="text">Располагаме со тим од лекари специјалисти задолжен за ваше најефективно закрепнување и рехабилитација.</p>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</section>