<section id="fifth-section">
	<div class="container-fluid">
		<div class="row flex">
			<div class="col-sm-6 flex">
				<div class="text-content">
					<h1 class="title title-fix text-center">Современа технологија</h1>
					<h1 class="title title2 text-center">за сите видови на терапија</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<div id="carousel-2" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul>
									<li>Електро-терапија( дијадинамик, интерферентни струји, тенс, галван, електрофореза, електростимулација)</li>
									<li>Сонотерапија (ултразвук)</li>
									<li>Фототерапија (инфрацвени и ултравиолетови ламби)</li>
									<li>Биотрон ламба</li>
									<li>Вакууммед</li>
									<li>Ласер</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>Магнетотерапија</li>
									<li>Кинези-терапија  групна и индивидуална</li>
									<li>Хидрокинезитерапија</li>
									<li>Екстензија на рбетен столб</li>
									<li>Парафин терапија</li>
									<li>Подводна масажа</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>Рачна масажа-реласациона, медицинска, спортска</li>
									<li>ЕКГ</li>
									<li>Органометрија</li>
									<li>Детоксикација</li>
									<li>2 базени со минерална вода</li>
								</ul>
							</div>
						</div>
						{# <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
						</a> #}
						<ol class="carousel-indicators">
							<li data-target="#carousel-2" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-2" data-slide-to="1"></li>
							<li data-target="#carousel-2" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="img-wrapper">
					<img src="{{ theme_url }}/images/sovrement-tehnologii.jpg" class="img-responsive">
				</div>
			</div>
		</div>
		<hr class="hr">
		<div class="row">
			<div class="offer">	
				<div class="container-fluid text-center">
					<h2 class="title">Како да ги користите нашите услуги?</h2>
					<div class="button-wrapper">
						<a target="_blank" href="{{theme_url }}/Cenovnik.pdf" class="btn btn-gradient read">
							<span>Прочитајте</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>