<section id="first-section">
	<div class="container-fluid">
		<div class="row flex">
			<div class="col-sm-6 flex">
				<div class="text-content">
					<h2 class="title title-fix text-center">Синергија на професионализам</h2>
					<h2 class="title title2 text-center">и природна лековитост</h2>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<p class="text">
						За здравјето на нашите пациенти и посетители се грижи тим од лекари специјалисти по физикална медицина и рехабилитација, лекар по општа медицина, медицински сестри, физиотерапевти и масерки. Податоци за благотворното дејство на душата и телото на минералните води од Негорски Бањи постојат уште од далечната 1864. Научните докази за лековитоста на водата датираат од 1950 година кога е формирано бањското лекувалиште.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="img-wrapper">
					<img src="{{ theme_url }}/images/zdravstven-oddel-1.jpg" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>