<section id="fourth-section">
	<div class="banner">
		<div class="text-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 text-center">
						<h1 class="title">Договор со Фондот за здравствeно осигурување на РМ</h1>
						<div class="separator center">
							<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
						</div>
						<p class="text">Осигурениците може да ги користат нашите здравствени услуги со приложување на специјалистички упат издаден од матичен лекар, или со Решение за продолжено болничко лекување и медицинска рехабилитација издадено од Фондот за здравствено осигурување. Партиципацијата за третман со физикални процедури при лекување со специјалистички упат се наплаќа согласно ценовникот на ФЗОМ.</p>
						<p class="text">Дневната партиципација за лекување со болнички упат се наплаќа согласно ценовникот на ФЗОМ и изнесува <strong>200,00 ден</strong>. Ги молиме пациентите - осигуреници, при доаѓање во Негорски Бањи со себе да ја понесат целокупната медицинска документација која ја поседуваат (РТГ снимки, лабораториски наоди, извештаи од специјалисти и сл.)</p>
						<p class="text"><strong>Напомена:</strong> Доколку пациентите не поседуваат здравствено осигурување и уредна документација, здравствените услуги ќе им бидат наплатени приватно по цени согласно ценовникот на ЗУПЛ Негорски Бањи.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>

</section>