<section id="second-section">
	<div class="banner">
		<div class="text-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 text-center">
						<h1 class="title">Природен извор исполнет со минерали</h1>
						<div class="separator center">
							<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
						</div>
						<p class="text full">Во регионот на бањата постојат 2 извора "Врела Бања" и "Ладна бања". Водата во врелата бања има температура од 40°C, а во ладната бања 37°C.<br/>Таа во својот состав содржи калциум, магнезиум, рубидиум, цезиум, радон и други минерали.
						<div class="temperature">
							<div class="temp1">
						       <div class="temp">37°C</div>
							</div>
							<div class="temp2">
								<div class="temp">40°C</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</section>