<section id="third-section">
	<div class="container-fluid">
		<div class="row flex">
			<div class="col-sm-6">
				<div class="img-wrapper">
					<img src="{{ theme_url }}/images/picture-old-man.jpg" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-6 flex">
				<div class="text-content minus-padding">
					<h2 class="title title-fix text-center">Бањската вода помага</h2>
					<h2 class="title title2 text-center">при лекување на:</h2>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<div id="carousel-1" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner height-min" role="listbox">	
							<div class="item active">
								<ul>
									<li>Ревматски заболувања-зглобен и вонзглобен ревматизам</li>
									<li>Дегенеративни заболувања на коски и зглобови и рбетен столб-артрози, дискус хернија, спондилоза</li>
									<li>Пострауматски и постоперативни состојби во ортопедија</li>
									<li>Заболувања на нервниот систем - состојби по мозочен удар, парези  на периферните нерви неуропатии, мултиплекс склероза, церебрална парализа, мијелити, радикулопатии итн.</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>Заболувања на гастроинтестинален систем-гастритис, чир на желудник и дванаестпалачно црево, воспаление на жолчка и жолчни патишта, хронични воспаленија на дебело црево</li>
									<li>Кожни заболувања -псоријаза, егземи</li>
									<li>Заболувања на уринарниот систем-воспаленија на мокрачни патишта, камења во бубрег</li>
									<li>Кардиоваскуларни заболувања-циркулаторна инсуфициенција на периферни артерии од различна етиологија, почетна артериска  хипертензија</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>Пореметувања во менструалниот циклус, аменореја, стерилититет, хронични воспаленија на јајници и јајоводи</li>
									<li>Респираторни заболувања-ларингити, хронични бронхити, бронхиектазии, бронхијална астма</li>
									<li>Латентен дијабет</li>
									<li>Остеопороза</li>
								</ul>
							</div>
						</div>
						{# <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
						</a> #}
						<ol class="carousel-indicators">
						<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-1" data-slide-to="1"></li>
						<li data-target="#carousel-1" data-slide-to="2"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>