<div id="home-banner" class="banner">
	<div class="overlay">
		<div class="weather-container">
			<i class="wi wi-day-cloudy"></i>
			<span id="degrees">--</span>
			<h1 class="title">Гевгелија</h1>
		</div>
		<div class="content">
			<div class="social-content">
				<ul>
					<li><a href="#">
							МК
						</a>
					</li>
					<li><a href="#">
							EN
						</a>
					</li>
					<li><a href="#">
							GR
						</a>
					</li>
				</ul>
			</div>
			<div class="logo-container">
				<div class="logo">
					<span>Лого</span>
				</div>
			</div>
			<div class="text-content">
				<h1>Негорски бањи</h1>
				<p>
					Негорски бањи се модерен здравствен и туристички центар. Негорски Бањи се центар за продолжен третман и рехабилитација на пациенти во модерно опремени простории за сите видови на терапија од полето на физикална медицина и рехабилитација.
				</p>
			</div>
		</div>
		<div class="cloud-1"><img src="{{ theme_url }}/images/cloud-1.png" class="img-responsive"></div>
		<div class="cloud-2"><img src="{{ theme_url }}/images/cloud-2.png" class="img-responsive"></div>
		<div class="cloud-3"><img src="{{ theme_url }}/images/cloud-1.png" class="img-responsive"></div>
		<div class="cloud-4"><img src="{{ theme_url }}/images/cloud-2.png" class="img-responsive"></div>
	</div>
</div>