<section id="home-category-pages">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<img src="{{ theme_url }}/images/hotel.jpg" class="img-responsive image">
				<div class="overlay">
					<div class="content">
						<h2 class="title">Хотелско<br>сместување</h2>
						{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
						<div class="button-wrapper">
							<a href="{{ page.find('/hotel').url }}" class="btn btn-gradient"><span>Повеќе</span></a>
						</div>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="{{ theme_url }}/images/banji.jpg" class="img-responsive image">
				<div class="overlay">
					<div class="content">
						<h2 class="title">Здравствен<br>оддел</h2>
						{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
						<div class="button-wrapper">
							<a href="{{ page.find('/health-department').url }}" class="btn btn-gradient"><span>Повеќе</span></a>
						</div>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="{{ theme_url }}/images/restaurant.jpg" class="img-responsive image">
				<div class="overlay">
					<div class="content">
						<h2 class="title">Ресторан</h2>
						{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
						<div class="button-wrapper">
							<a href="{{ page.find('/restaurant').url }}" class="btn btn-gradient"><span>Повеќе</span></a>
						</div>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="{{ theme_url }}/images/rekreacija.jpg" class="img-responsive image">
				<div class="overlay">
					<div class="content">
						<h2 class="title">Рекреативен<br>центар</h2>
						{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
						<div class="button-wrapper">
							<a href="{{ page.find('/recreation-center').url }}" class="btn btn-gradient"><span>Повеќе</span></a>
						</div>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</div>
			</div>
		</div>
	</div>
</section>