<section id="first-section" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="text-content text-center">
					<h1 class="title">Негорски бањи</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<p class="text">
						Негорски бањи се модерен здравствен и туристички центар за продолжен третман и рехабилитација на пациенти во модерно опремени простории за сите видови на терапија од полето на физикална медицина и рехабилитација.
					</p>
{# 					<p class="text">
						Eксклузивноста на Негорските Бањи се состои во лековитоста на минералната вода, којашто извира на местоположбата на Негорски Бањи . Во регионот на бањата постојат 2 извора "Врела Бања" и "Ладна бања". Водата во врелата бања има температура од 40C, а во ладната бања 38C.Водата во својот состав содржи калциум, магнезиум, рубидиум, цезиум, радон и други минерали.
					</p> #}
{# 					<p class="text">
						Податоци за благотворното дејство на душата и телото на минералните води од Негорски Бањи постојат уште од далечната 1864. Научните докази за лековитоста на водата датираат од 1950 година кога е формирано бањското лекувалиште.
					</p> #}
					<p class="text">
						Комплексот се наоѓа на далечина од 3км од Гевгелија, на надморска височина од 50 метри. Лоциран е во многу специфична средина, во подножјето на планината Кожуф, помеѓу богата и ретка јасенова шума, која формира природен парк. Јасеновата шума зафаќа површина од 22 хектари околу комплексот.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>