<div id="home-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-container">
				<h2 class="title">Контактирајте нè</h2>
			</div>
			<div class="col-md-3">
				<p class="text">
					Негорски бањи се модерен здравствен и туристички центар. Негорски Бањи се центар за продолжен третман и рехабилитација на пациенти во модерно опремени простории за сите видови на терапија од полето на физикална медицина и рехабилитација.
				</p>
			</div>
			<div class="col-md-6">
				<div class="form-container">
					{% if isset(message) %}
                    	{{ message }}
                    {% endif %}
                    {% include 'forms/form.html.twig' %}
					<!-- <form>
						<div class="input-wrapper">
							<input type="" name="name" placeholder="Вашето име">
						</div>
						<div class="input-wrapper">
							<input type="" name="email" placeholder="Вашата е-пошта">
						</div>
						<div class="textarea-wrapper">
							<textarea cols="100" rows="8" name="message" placeholder="Вашата порака"></textarea>
						</div>
						<div class="button-wrapper">
							<a href="#" class="btn btn-gradient">Испрати</a>
						</div>
					</form> -->
				</div>
			</div>
			<div class="col-md-3">
				<div class="info">	
					<ul>
						<li>
							<div class="information">
								<div class="icon-container"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<a href="#">info@negorskibanji.com</a>
							</div>
						</li>
						<li>
							<div class="information">
								<div class="icon-container"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<a href="#">+389(0) 34 231 174</a>
							</div>
							<div class="information">
								<div class="icon-container"><i class="fa fa-mobile" aria-hidden="true"></i></div>
								<a href="#">+389(0) 71 259 615</a>
							</div>
						</li>
						<li>
							<div class="information">
								<div class="icon-container"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<a href="#">
									Негорски бањи<br>
									ул. Маршал Тито ББ с.Негорци, 1480 Гевгелија</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</div>
