<section id="news-section" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="text-content text-center">
					<h1 class="title">Настани</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<div class="row">
						{% for p in page.find('/news').children|slice(0, 3) %}
							<div class="col-sm-4 news-col">
								<div class="news-img-container">
									<a href="{{ p.url }}"><img src="{{ p.media['featured.jpg'].url }}" class="img-responsive zoom"></a>
								</div>
								<a href="{{ p.url }}" class="news-link"><h3 class="title">{{ p.title|slice(0, 60) }}</h3></a>
								<p class="news-date">{{ p.published_at|date("m/d/Y") }}</p>
								<p class="text">{{ p.content|striptags|slice(0, 200) ~ '...' }}</p>
							</div>
						{% endfor %}
					</div>
					<div class="button-wrapper">
						<a href="{{ page.find('/news').url }}" class="btn btn-gradient"><span>Повеќе</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>