{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="first-section" class="contact-section">
		<div class="container-fluid">
			<div class="row flex">
				<div class="col-sm-12 location-column text-center">
					<h1 class="title">Локација</h1>
					<img src="{{ theme_url }}/images/separator.png">
					<p class="text contact-text">Негорски бањи се лоцирани на 3 km од градот Гевгелија, Република МАКЕДОНИЈА и 7km од границата со ГРЦИЈА.
					До НЕГОРСКИ БАЊИ може да пристигнете со автомобил, со авион или со воз.</p>
					<ul class="nav nav-pills travel-pills">
					    <li class="active"><a data-toggle="pill" href="#menu1"><img src="{{ theme_url }}/images/car-icon.png"><span>Со автомобил</span></a></li>
					    <li><a data-toggle="pill" href="#menu2"><img src="{{ theme_url }}/images/plane-icon.png"><span>Со авион</span></a></li>
					    <li><a data-toggle="pill" href="#menu3"><img src="{{ theme_url }}/images/train-icon.png"><span>Со воз</span></a></li>
					</ul>
					<div class="tab-content">
					    <div id="menu1" class="tab-pane fade in active">
					      <p class="text">Главниот меѓународен автопат E-75 минува низ целата земја.</p>
	      					<ul>
	      						<li>
	      							Доколку патувате од Скопје, приклучете се на автопатот E-75 и возете 150km во правец на Гевгелија.
	      						</li>
	      						<li>
	      							Доколку патувате од Грција, приклучете се на автопатот E-75 и откако ќе ја поминете границата, возете 4km во правец на Гевгелија.
	      						</li>
	      						<li>
	      							Доколку доаѓате од некоја друга дестинација, побарајте го и и приклучете се на автопатот E-75 и возете во правец на Гевгелија. Возете кон центарот на Гевгелија, на семафорите, завртете десно и возете право околу 1km. На раскрсницата на бензинската пумпа продолжете на лево кон мостот. Возете право 1km и би требало да го видите патоказот „Негорски Бањи“. Завртете десно после 100м ќе пристигнете во НЕГОРСКИ БАЊИ.
      								</li>
	      						</li>
	      					</ul>
					    </div>
					    <div id="menu2" class="tab-pane fade">
					      <p>Најблиски аеродроми до Негорски Бањи се аеродромите во Скопје или Солун, од каде можете со автобус, воз или автомобил да стигнете до Негорски бањи.</p>
					    </div>
					    <div id="menu3" class="tab-pane fade">
					      <p class="text">Република Македонија е поврзана со Европските земји со железничка линија која поминува низ целата земја од Македонско-Српската до Македонско-Грчката граница. Најдобар начин да се стигне до Гевгелија е со меѓународниот воз Љубљана-Солун-Љубљана, кој застанува во Гевгелија. По пристигнувањето во Гевгелија, можете да стигнете до Негорски Бањи со ТАКСИ превоз за само 100 денари.</p>
					    </div>
					  </div>
				</div>
			</div>
		</div>
	</section>
	<section class="cenovnik text-center">
		<h3>Погледнете го нашиот ценовник</h3>
		<a href="{{ theme_url }}/Cenovnik.pdf" class="btn btn-cenovnik" target="_blank">
			<span>Ценовник</span>
		</a>
	</section>
	<section id="second-section">
		{% include 'partials/home/footer.html.twig' %}
	</section>

{% endblock %}