{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="first-section" >
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 more-margin">
					<div class="text-content text-center news-content">
						<h1 class="title">{{ page.title }}</h1>
						<p class="news-date">{{ page.header.date }}</p>
						{{ page.content }}
						<p class="text">
							Комплексот се наоѓа на далечина од 3км од Гевгелија, на надморска височина од 50 метри. Лоциран е во многу специфична средина, во подножјето на планината Кожуф, помеѓу богата и ретка јасенова шума, која формира природен парк. Јасеновата шума зафаќа површина од 22 хектари околу комплексот.
						</p>
						<div class="btns-wrap">
							{% if page.url != page.nextSibling(page.path).url %}
							<div class="button-wrapper btn-left">
								<a href="{{ page.nextSibling(page.path).url }}" class="btn btn-gradient toLeft"><span>Претходна</span></a>
							</div>
							{% endif %}
							{% if page.url != page.prevSibling(page.path).url%}
							<div class="button-wrapper btn-right">
								<a href="{{ page.prevSibling(page.path).url }}" class="btn btn-gradient toRight"><span>Следна</span></a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% set count = 0 %}
	{% for i in page.media.images %}
	    {% set count = count + 1 %}
	{% endfor %}
	{% if count > 1 %}
	<section class="gallery-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
			{% for img in page.media.images %}
					{% if img != page.media['featured.jpg'] %}
						<div class="col-sm-6 col-md-3 gallery-col">
							<a href="{{ img.url }}" data-imagelightbox="g">
			                 	<div class="thumb" style="background-size: cover;">
				                    <span class="bg-overlay"></span>
				                    <img src="{{ img.cropZoom(767, 512).url }}" class="img-responsive" alt="">
				                    <div class="top"></div>
		        					<div class="right"></div>
		        					<div class="bottom"></div>
		        					<div class="left"></div>
				                </div>
				            </a>
		             </div>
	             {% endif %}
				{% endfor %}
				</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}