{% extends 'partials/base.html.twig' %}

{% block content %}
	{#{% include 'partials/health-department/banner.html.twig' %}#}
	{% include 'partials/health-department/first-section.html.twig' %}
	{% include 'partials/health-department/second-section.html.twig' %}
	{% include 'partials/health-department/third-section.html.twig' %}
	{% include 'partials/health-department/fourth-section.html.twig' %}
	{% include 'partials/health-department/fifth-section.html.twig' %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").carousel({
			interval: 10000
		});
		{#animations();#}
		window.onscroll=function(){
			{# animations();#}
			{#sectionScroll();#}
		};

	});
	var currentSection=document.getElementsByTagName('section')[0];
	var scrollw=true;
	function sectionScroll(){
		if(scrollw==true){
			scrollw=false;
			if(currentSection.nextSibling!=null){
				currentSection=currentSection.nextSibling;
				window.scroll(0,currentSection.offsetTop);
				scrollw=true;
			}
		}
	};

	function animations(){
		var y=window.scrollY;
		var screenHeight=window.innerHeight;
		var section1=document.getElementById('first-section').offsetTop;
		var section2=document.getElementById('second-section').offsetTop;
		var section3=document.getElementById('third-section').offsetTop;
		var section4=document.getElementById('fourth-section').offsetTop;
		var section4Offer=document.getElementById('fourth-section').getElementsByClassName('offer')[0].offsetTop;
		if(y > 0){
		    $("#footer #button-wrapper.toTopBtn").addClass("animated fadeInUp");   
		}
		if(y + (screenHeight/2) >= section1){
			$('#first-section .text-content').addClass('animated fadeInRight');
			$('#first-section .img-wrapper').addClass('animated fadeInLeft');
		}
		if(y + (screenHeight/2) >= section2){
			$('#second-section .text-content .title').addClass('animated fadeInDown');
			$('#second-section .text-content .text').addClass('animated fadeInUp');
			$('#second-section .text-content .temperature').addClass('animated fadeInUp');
		}
		if(y + (screenHeight/2) >= section3){
			$('#third-section .text-content').addClass('animated fadeInLeft');
		}
		if(y + (screenHeight/2) >= section4){
			$('#fourth-section .text-content .title').addClass('animated fadeInDown');
			$('#fourth-section .text-content .carousel').addClass('animated fadeInUp');
		}
		if(y + (screenHeight/2) >= section4Offer - 50 ){
			$('#fourth-section .offer .title').addClass('animated fadeInDown');
			$('#fourth-section .offer .button-wrapper').addClass('animated fadeInUp');
		}

        
	};
</script>
{% endblock %}