{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/home/first-section.html.twig' %}
	{% include 'partials/home/category-section.html.twig' %}
	{% include 'partials/home/news-section.html.twig' %}
{% endblock %}
{% block javascripts %}
{% endblock %}