{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="first-section" class="wrap-hotel">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="text-content text-center">
					<h1 class="title">Комплекс „Негорски Бањи“</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<p class="text">
						 Во бањскиот комплекс Негорски Бањи има 3 хотели. Со реновирањето на постојаните хотелски комплекси пролетта 2007 во значителна мера се подигна квалитетот на сместување. Квалитетното сместување овозможува пријатен престој, како за оние гости кои имаат потреба од користење на водата и физикалните терапии, така и за оние кои имаат потреба од одмор и рекреација.
						Хотелите се со различен степен на квалитет.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="hotels-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<img src="{{ theme_url }}/images/hotel-bozur.jpg" class="img-responsive image">
				<div class="overlay">
					<div class="content">
						<h2 class="title">Хотел<br>Божур</h2>
						{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
						<div class="button-wrapper">
							<a href="#" class="btn btn-gradient"><span>Повеќе</span></a>
						</div>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</div>
			</div>
			{% for hotel in page.children %}
			    <div class="col-sm-6 col-md-4">
			    	<img src="{{ hotel.media['featured.jpg'].url }}" class="img-responsive image">
			    	<div class="overlay">
			    		<div class="content">
			    			<h2 class="title">{{ hotel.title }}</h2>
			    			{# <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> #}
			    			<div class="button-wrapper">
			    				<a href="{{ hotel.url }}" class="btn btn-gradient"><span>Повеќе</span></a>
			    			</div>
			    		</div>
			    		<div class="top"></div>
			    		<div class="right"></div>
			    		<div class="bottom"></div>
			    		<div class="left"></div>
			    	</div>
			    </div>
			{% endfor %}
	</div>
</section>
	<!-- <div class="container-flex">
		<div class="item-flex first">
			<div class="overlay">
				<a href="#" class="link-flex">
					<div class="content">
						<h2 class="title">Хотел<br>Божур</h2>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</a>
			</div>
		</div>
		<div class="item-flex second">
			<div class="overlay">
				<a href="#" class="link-flex">
					<div class="content">
						<h2 class="title">Хотел<br>Јасен</h2>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</a>
			</div>	
		</div>
		<div class="item-flex third">
			<div class="overlay">
				<a href="#" class="link-flex">
					<div class="content">
						<h2 class="title">Хотел<br>Илинден</h2>
					</div>
					<div class="top"></div>
					<div class="right"></div>
					<div class="bottom"></div>
					<div class="left"></div>
				</a>
			</div>
		</div>
	</div> -->
{% endblock %}
{% block javascripts %}
{% endblock %}