{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="first-section" class="hotel-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="text-content text-center hotel-content">
					<h1 class="title">{{ page.title }}</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gallery-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
			{% for img in page.media.images if img.filename != 'featured.jpg' %}
					<div class="col-sm-6 col-md-3 gallery-col">
						<a href="{{ img.url }}" data-imagelightbox="g">
		                 	<div class="thumb" style="background-size: cover;">
			                    <span class="bg-overlay"></span>
			                    <img src="{{ img.cropZoom(767, 512).url }}" class="img-responsive" alt="">
			                    <div class="top"></div>
	        					<div class="right"></div>
	        					<div class="bottom"></div>
	        					<div class="left"></div>
			                </div>
			            </a>
	             </div>
				{% endfor %}
				</div>
		</div>
	</div>
</section>
<section class="cenovnik text-center">
	<h3>Погледнете го нашиот ценовник</h3>
	<a target="_blank" href="{{ theme_url }}/Cenovnik.pdf" class="btn btn-cenovnik" target="_blank">
		<span>Ценовник</span>
	</a>
</section>
{% endblock %}
{% block javascripts %}
{% endblock %}