{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/recreation-center/first-section.html.twig' %}
	{% include 'partials/recreation-center/second-section.html.twig' %}
	{% include 'partials/recreation-center/third-section.html.twig' %}
{% endblock %}