{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="first-section" class="restaurant-wrap">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="text-content text-center">
					<h1 class="title">Ресторан</h1>
					<div class="separator center">
						<img src="{{ theme_url }}/images/separator.png" class="img-responsive">
					</div>
					<p class="text">
						Бањите располагаат со 2 ресторани и летна градина, каде што посетителите можат да пробат здрава храна и специјалитети со вкус од југот. Едниот ресторан се наоѓа во склоп на летната градина и е од комерцијален тип, додека другиот се наоѓа во рамките на хотелите. Овој ресторан е пансионски - каде што посетителите се служат со појадок, ручек и вечера со пансионски ноќевања - и има капацитет за 250 посетители.
					</p>
					<p class="text">
						Посетителите на рестораните и летната градина може да уживаат во пријатната музика на различни македонски бендови и во разни други културни и фолклорни приредби и манифестации.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gallery-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
			{% for img in page.media.images %}
					<div class="col-sm-6 col-md-3 gallery-col">
						<a href="{{ img.url }}" data-imagelightbox="g">
		                 	<div class="thumb" style="background-size: cover;">
			                    <span class="bg-overlay"></span>
			                    <img src="{{ img.cropZoom(767, 512).url }}" class="img-responsive" alt="">
			                    <div class="top"></div>
	        					<div class="right"></div>
	        					<div class="bottom"></div>
	        					<div class="left"></div>
			                </div>
			            </a>
	             </div>
				{% endfor %}
				</div>
		</div>
	</div>
</section>
{% endblock %}