@font-face{
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-ExtraBold.ttf');
}
@font-face{
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy-Bold.ttf');
}
@font-face{
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face{
	font-family: 'Gilroy-Light';
	src: url('../fonts/Gilroy-Light.ttf');
}
@font-face{
	font-family: 'Gilroy-Medium';
	src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face{
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/Gilroy-SemiBold.ttf');
}
body{
	margin:0;
	overflow-x: hidden;
}
#footer{
	position: relative;
}
a:hover, a:focus {
	text-decoration: none;
    outline: none;
}
a.btn,
button.btn{
	border-radius: 0;
	color: #504E4E;
	border: 1px solid #fff;
	transition: 0.3s ease;
	background-color: #fff;
	font-family: 'Gilroy-Regular';
}
a.btn.btn-gradient{
	color: #fff;
	background:linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
	border-radius: 3px;
	border:none;
	padding: 10px 18px;
	position: relative;
}
a.btn.btn-gradient:after {
	font-family: 'FontAwesome';
	content: '\f105';
	position: absolute;
    left: 63px;
    top: 11px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}
a.btn.btn-gradient span {
	position: relative;
	transition: 0.4s;
	left: 0;
}
a.btn.btn-gradient:hover span {
    left: -8px;
}
a.btn.btn-gradient:hover:after {
	visibility: visible;
    opacity: 1;
    left: 68px;
}
button.btn.btn-gradient{
	color: #fff;
	background:linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
	border-radius: 3px;
	border:none;
	padding: 10px 18px;
	position: relative;
}
button.btn.btn-gradient:after {
	font-family: 'FontAwesome';
	content: '\f0e0';
	position: absolute;
    left: 63px;
    top: 11px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}
button.btn.btn-gradient span {
	position: relative;
	transition: 0.4s;
	left: 0;
}
button.btn.btn-gradient:hover span {
    left: -10px;
}
button.btn.btn-gradient:hover:after {
	visibility: visible;
    opacity: 1;
    left: 70px;
}
.text{
	font-size: 16px;
	font-family: 'Gilroy-Regular';
	text-align: justify;
}
.body .item ul li{
	font-size: 16px;
	font-family: 'Gilroy-Regular';
}
.title{
	font-size: 30px;
	font-family: 'Gilroy-Bold';
}
h3.title {
	font-size: 20px;
}
.title2{
	margin-top: 0;
}
.separator{
	margin-top: 0px;
	margin-bottom: 30px;
}
.separator.center{
	text-align: center;
}
.separator.center img{
	display: inline-block;
}
hr.hr{
	border-color: #d2d2d2;
}
.title.green{
	color: #2FD790;
	border-bottom: 2px solid #000;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 0;
}
.flex{
	display: flex;
}
.row.flex {
    align-items: center;
}
.flex-column-center{
	flex-direction: column;
	justify-content: center;
}
/*---Animations---*/
#first-section .text-content,
#second-section .text-content .title,
#second-section .text-content .text,
#second-section .text-content .temperature,
#third-section .text-content,
#fourth-section .text-content .title,
#fourth-section .text-content .carousel,
#fourth-section .offer .title,
#fourth-section .offer .button-wrapper,
#footer #button-wrapper.toTopBtn,
#first-section .img-wrapper{
	opacity: 1;
}
/*---Header---*/
/*Delete*/
.header-menu .temp-logo{
	margin-top: 0;
	margin-bottom: 0;
}
/*-----*/

#header{
	position: relative;
}
#header .header-menu{
	position: absolute;
	width: 100%;
	z-index: 13;
}

#header .header-menu .topbar{
	text-align: right;
	color: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
}
#header .header-menu .topbar .text .fa{
	padding-right: 5px;
}
#header .header-menu .topbar .contact-list li:first-child{
	padding-right: 20px;
}
#header .header-menu .topbar .text-left .text{
	margin-bottom: 0;
}
#header .header-menu .topbar .text-right .text{
	margin-bottom: 0;
	text-align: right;
}
#header .video-wrapper{
	position: relative;
	z-index: 9;
	height: 100vh;
	overflow: hidden;
}
#header .video-wrapper video{
	min-width: 100%;
	min-height: 100%;

}
#header .overlay{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	transition: 0.3s ease;
}
#header .header-menu .main-menu{
	display: inline-block;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	position: relative;
}
#header .header-menu .main-menu .logo-container{
	margin-top: 8px;
	margin-left: 15px;
	margin-bottom: 8px;
	position: relative;
	z-index: 1;
}
#header .header-menu .logo-container{
	float: left;
}
#header .header-menu .social-media-container{
	display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
}
#header .header-menu .social-media-container .list-inline{
	margin-bottom: 0;
	margin-left: 15px;
	margin-top: 21px;
}
#header .header-menu .social-media-container .list-inline li {
	display: inline-block;
	filter: grayscale(100%);
	opacity: 0.8;
}
#header .header-menu .social-media-container .list-inline li.active, #header .header-menu .social-media-container .list-inline li:hover {
	filter: grayscale(0%);
    opacity: 1;
}
#header .header-menu .social-media-container a{
	color: #fff;
	font-size: 12px;
}
#header .header-menu .social-media-container li .wrapper{
	height: 30px;
	width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
	border-radius: 100%;
}
#header .header-menu .main-menu .navbar-container{
}
#header .header-menu .main-menu .navbar-container .nav{
	float: none;
	display: inline-block;
	padding-top: 17px;
	padding-bottom: 15px;
	
}
@media (min-width: 992px) {
	#header .header-menu .main-menu .navbar-container .nav{
		position: absolute;
		left: 0;
		text-align: center;
		width: 100%;
	}
}
#header .header-menu .main-menu .navbar-container .nav a{
	color: #000;
	font-family: 'Gilroy-Regular';
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
}
#header .header-menu .main-menu .navbar-container .nav a:hover{
	background: linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
	color: #fff;
	border-radius: 3px;
}
#header .header-menu .main-menu .navbar-container .nav li.active a{
	background: linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
	color: #fff;
	border-radius: 3px;
}
#header .container-fluid .text-content{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 12;
}
#header .container-fluid .text-content .title{
	font-size: 60px;
	line-height: 71px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Gilroy-ExtraBold';
/*	width: 585px;*/
	display: inline-block;
}
#header .container-fluid .text-content .text{
	color: #fff;
	font-size: 36px;
	font-family: 'Gilroy-SemiBold';
	text-transform: uppercase;
	text-align: center;
}
#header .container-fluid .separator img{
	display: inline-block;
}
#header .btn-to-bottom{
	position: absolute;
	z-index: 12;
	bottom: 10px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
#header .btn-to-bottom a.btn{
	background-color: transparent;
	padding:0;
	border: none;
}
#header .btn-to-bottom .btn .btn-in-wrapper{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid #fff;
/*	display: flex;
	flex-direction: column;
	justify-content: center;*/
	position: relative;
}
#header .btn-to-bottom .btn .btn-in-wrapper i{
	font-size: 20px;
	color: #fff;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	position: absolute;
	left: 50%;
	transition: 0.2s ease;
}
#header .btn-to-bottom .btn .btn-in-wrapper:hover i{
	animation-name: upDownAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes upDownAnimation{
	0%{
		top: 50%;
	}
	50%{
		top: 60%;
	}
	100%{
		top: 50%;
	}
}
/*
#header .heading-content .title{
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Gilroy-ExtraBold';
	letter-spacing: 4px;
}
#header .main-menu{
	position: absolute;
	width: 100%;
	z-index: 11;
	padding-top: 40px;
}
#header .text-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 11;
}
#header .heading-content .text{
	color: #fff;
	font-size: 22px;
	font-family: 'Gilroy-Regular';
}
#header .separator{
	text-align: center;
}
#header .separator img{
	display: inline-block;
}
#header .heading-content{
	text-align: center;
}
#header .header .main-menu .nav li a{
	color: #000;
	text-transform: uppercase;
	font-family: 'Gilroy-Regular';
	font-size: 16px;
}
#header .header .main-menu .nav li a:hover{
	background-color: transparent;
}
#header .header .logo-container{
	color: #000;
}
#header .main-menu .nav{
	float: none;
	display: inline-block;
}
#header .main-menu{
	text-align: center;
	background-color: rgba(255,255,255,0.8);
}
#header .video-wrapper{
	/*height: 700px;*/
	/*height: 100vh;
	overflow: hidden;
}
#header .video-wrapper #video{
	width: 100%;
}
#header .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	/*background: linear-gradient(90deg, rgba(47,215,144,0.5), rgba(21,169,199,0.5));*/
	/*background-color: rgba(0,0,0,0.4);
}*/
/*---Home Page---*/
/*#home-banner{
	height: 100vh;
	background-image: url('../images/banner-home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-bottom: 10px;
}
#home-banner .overlay{
	background: linear-gradient(rgba(76,88,78,0.33), rgba(34,122,60,0.3));
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#home-banner .overlay .weather-container{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	background-color: rgba(255,255,255,0.8);
	left: 200px;
	padding: 40px 30px;
	border-radius: 10px;
	text-align: center;
	z-index: 11;
	color: #227B3D;
}
#home-banner .overlay .weather-container .wi{
	font-size: 60px;
}
#home-banner .overlay .weather-container #degrees{
	font-size: 55px;
	padding-left: 10px;
}
#home-banner .overlay .weather-container .title{
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
}
#home-banner .overlay .content .social-content{
	position: absolute;
	top: 0;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 10px;
}
#home-banner .overlay .content .social-content ul li{
	display: inline-block;

}
#home-banner .overlay .content .social-content ul li a{
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
	background-color: #227B3D;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
#home-banner .overlay .content .social-content ul{
	padding: 0;
	margin: 0;
	text-align: right;
	padding-right: 20px;
	padding-left: 20px;
}
#home-banner .overlay .content{
	z-index: 11;
	width: 400px;
	position: absolute;
	right: 200px;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	top: 0;
}
#home-banner .overlay .content .logo-container{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: end;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#home-banner .overlay .content .logo{
	display: table;
	border-radius: 263px;
	background-color: #227B3D;
	text-align: center;
	height: 150px;
	width: 150px;
}
#home-banner .overlay .content .text-content{
	text-align: right;
	padding-left: 40px;
	padding-right: 40px;
}
#home-banner .overlay .content .text-content h1{
	border-bottom: 2px solid #227B3D;
	padding-bottom: 0;
	display: inline;
	color: #227B3D;
}
#home-banner .overlay .content .text-content p{
	color: #227B3D;
	font-size: 18px;
	margin-top: 25px;
}
#home-banner .overlay .content .logo span{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 30px;
}
#home-banner .cloud-1 img,
#home-banner .cloud-2 img{
	width: 100%;
}
#home-banner .cloud-1,
#home-banner .cloud-2,
#home-banner .cloud-3,
#home-banner .cloud-4{
	z-index: 10;
}
#home-banner .cloud-1{
	width: 35%;
	position: absolute;
	bottom: 20px;
	left: 0;
	animation-name: cloud-1-animation;
	animation-duration: 220s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function:linear;
}
#home-banner .cloud-2{
	width: 30%;
	position: absolute;
	bottom: 0;
	right: 0;
	animation-name: cloud-2-animation;
	animation-duration: 220s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function:linear;
}
#home-banner .cloud-3{
	width: 30%;
	position: absolute;
	bottom: 0;
	right: 0;
	animation-name: cloud-3-animation;
	animation-duration: 420s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function:linear;
}
#home-banner .cloud-4{
	width: 30%;
	position: absolute;
	bottom: 20px;
	left: 0;
	animation-name: cloud-4-animation;
	animation-duration: 420s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function:linear;
}

@keyframes cloud-1-animation{
	0%{
		left: 0;
	}
	50%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}
@keyframes cloud-2-animation{
	0%{
		right: 0;
	}
	50%{
		right: 100%;
	}
	100%{
		right: 0;
	}
}
@keyframes cloud-3-animation{
	0%{
		right: 0;
	}
	50%{
		right: 100%;
	}
	100%{
		right: 0;
	}
}
@keyframes cloud-4-animation{
	0%{
		left: 0;
	}
	50%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}*/
div.home #first-section{
	padding-top: 30px;
	padding-bottom: 60px;
	position: relative;
}
#home-category-pages{
	margin-bottom: 10px;
}
#home-category-pages .row .col-sm-6{
	padding-left: 0;
	padding-right: 0;
}

#home-category-pages .image{
	width: 100%;
}
#home-category-pages .overlay, .item-flex .overlay{
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0.7), transparent);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}
#home-category-pages .content, .item-flex .content{
	transition: 0.3s ease;
}
#home-category-pages .overlay:hover .content, .item-flex .overlay:hover .content{
	background: rgba(0,0,0,0.5);
}
#home-category-pages .content, .item-flex .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 12;
	text-align: center;
}
#home-category-pages .content .title, .item-flex .content .title{
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	transform: translateY(-50%);
	top: 50%;
	margin: 0;
}
@media (max-width: 991px) {
	#home-category-pages .content .title {
		font-size: 25px;
	}
}
#home-category-pages .content .text, .item-flex .content .text{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#home-category-pages .content .button-wrapper{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
#home-category-pages .top, .item-flex .top {
	position: absolute;
	top: 0;
	width: calc( 100% - 80px );
	border-bottom: 1px solid #fff;
	left: 40px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
.thumb .top {
	position: absolute;
    top: 0;
    width: calc( 100% - 30px );
    border-bottom: 1px solid #fff;
    left: 15px;
    opacity: 0;
    z-index: 14;
    transition: 0.3s ease;
}
#home-category-pages .right, .item-flex .right {
	position: absolute;
	height: calc( 100% - 40px );
	right: 0;
	border-left: 1px solid #fff;
	top: 20px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
.thumb .right {
	position: absolute;
    height: calc( 100% - 30px );
    right: 0;
    border-left: 1px solid #fff;
    top: 15px;
    opacity: 0;
    z-index: 14;
    transition: 0.3s ease;
}
#home-category-pages .bottom, .item-flex .bottom {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #fff;
	width: calc( 100% - 80px );
	left: 40px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
.thumb .bottom {
	position: absolute;
    bottom: 0;
    border-top: 1px solid #fff;
    width: calc( 100% - 30px );
    left: 15px;
    opacity: 0;
    z-index: 14;
    transition: 0.3s ease;
}
#home-category-pages .left, .item-flex .left {
	position: absolute;
	left: 0;
	height: calc( 100% - 40px );
	border-right: 1px solid #fff;
	top: 20px;	
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
.thumb .left {
    position: absolute;
    left: 0;
    height: calc( 100% - 30px );
    border-right: 1px solid #fff;
    top: 15px;
    opacity: 0;
    z-index: 14;
    transition: 0.3s ease;
}
#home-category-pages .overlay:hover .top, .item-flex .overlay:hover .top{
	opacity: 1;
	top:20px;
}
.thumb:hover .top {
	opacity: 1;
	top:15px;
}
#home-category-pages .overlay:hover .right, .item-flex .overlay:hover .right{
	opacity: 1;
	right: 40px;
}
.thumb:hover .right{
	opacity: 1;
	right: 15px;
}
#home-category-pages .overlay:hover .bottom, .item-flex .overlay:hover .bottom{
	opacity: 1;
	bottom: 20px;
}
.thumb:hover .bottom{
	opacity: 1;
	bottom: 15px;
}
#home-category-pages .overlay:hover .left, .item-flex .overlay:hover .left{
	opacity: 1;
	left: 40px;
}
.thumb:hover .left{
	opacity: 1;
	left: 15px;
}
#home-footer .row .text-container{
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}
#home-footer .row .text{
	color: #fff;
}
#home-footer .row .info ul a{
	color: #fff;
	text-decoration: none;
}
#home-footer .row .info .fa{
	color: #fff;
}
#home-footer .row .info .information{
	display: table;
	width: 100%;
	text-align: left;
}
@media (max-width: 991px) {
	#home-footer .row .info {
		padding: 20px 0;
	}
	#home-footer .row .info .information{
		text-align: center;
	}
	#home-footer .row .col-md-6 {
		height: 278px;
	}
}
#home-footer .row .info .information a,
#home-footer .row .info .information .fa{
	display: table-cell;
	vertical-align: middle;
}
#home-footer .row .info .information a{
	width: 90%;
}
#home-footer .row .info .information .fa{
	font-size: 20px;
}
#home-footer .row .info .information .fa.fa-map-marker{
	font-size: 28px;
}
#home-footer .row .info ul{
	list-style: none;
	text-align: right;
	padding-left: 0;
}
#home-footer .row .info ul li{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #fff;
}
#home-footer .row .info ul li:last-child{
	border: none;
}
#home-footer{
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	background-image: url('../images/banner2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}
#home-footer .container-fluid{
	position: relative;
	z-index: 11;
}
#home-footer .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
#home-footer .form-container .input-wrapper{
	width: 50%;
	float: left;
	padding:5px;
}
#home-footer .form-container .input-wrapper input{
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid rgba(0,0,0,0.5);
	padding: 5px 10px;
}
#home-footer .form-container .textarea-wrapper{
	width: 100%;
	padding: 5px;
	float: left;
}
#home-footer .form-container .textarea-wrapper textarea{
	width: 100%;
    min-height: 125px;
	resize: none;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid rgba(0,0,0,0.5);
	padding: 5px 10px;
}
/*#home-footer .container-fluid .text,
#home-footer .container-fluid .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/
#home-footer .form-container .button-wrapper{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
#home-footer .form-container .button-wrapper .btn{
	cursor: pointer;
}
#footer #button-wrapper{
	position: fixed;
	right: 20px;
	bottom: -70px;
	display: inline-block;
	height: 70px;
	width: 70px;
	background: rgba(47,215,144,1);
	z-index: 100;
	border: 2px solid rgba(21,169,199,1);
}
#footer #button-wrapper #toTop{
	display: table;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
#footer #button-wrapper #toTop .fa{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#footer .copyright{
/*	background-color: rgba(34,122,60,0.8);
	position: absolute;
	bottom: 0;
	width: calc( 100% - 600px );
	margin-left: 300px;
	margin-right: 300px;*/
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #f5f6f7;
}
#footer .copyright .text{
	margin-bottom: 0;
	color: #504E4E;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#footer #map{
	width: 100%;
	height: 225px;
}
#footer .copyright .img-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 20px;
}
#footer .copyright .img-container .logo span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#footer .copyright .social-media{
	margin-top: 40px;
}
#footer .copyright .social-media ul{
	padding:0;
}
#footer .copyright .social-media ul li{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
	padding-right:10px;
}
#footer .copyright .social-media ul li a{
	color: #000;
}
/*---Health Department page---*/
.health-department .separator{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.health-department section{
	margin-bottom: 10px;
	margin-top: 10px;
}
.health-department .text-content{
	padding-left: 60px;
	padding-right: 60px;
}
.health-department #second-section .temperature{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}
.health-department #second-section .temperature .temp1{
	height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid #fff;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
}
.health-department #second-section .temperature .temp2{
	height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid #fff;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
}
.health-department #fourth-section .offer{
	padding-top: 40px;
	padding-bottom: 40px;
}
.health-department #fourth-section .offer .btn{
	margin-top: 20px;
}
.health-department .title.blue{
	color:#14ACEC;
	border-bottom: 3px solid #333;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 0;
}
.health-department .row.flex{
	flex-direction: row;
}
.health-department .carousel-indicators{
	margin-top: 30px;
	position: relative;
	bottom: 0;
}
.health-department .carousel-control{
	width: auto;
}
.health-department .left.carousel-control{
	margin-left: 30px;
}
.health-department .right.carousel-control{
	margin-right: 30px;
}
.health-department #carousel-2 .item{
	min-height: 160px;
}
.health-department #carousel-1 .carousel-inner .item{
	margin-left: auto;
	margin-right: auto;
/*	padding-left: 60px;
	padding-right: 60px;*/
	min-height: 140px;
}
.health-department .carousel-control .glyphicon::before{
 	color: #14ACEC;
 }
.health-department .carousel-indicators li{
	border: 1px solid #14ACEC;
	height: 10px;
	width: 40px;
	margin: 1px;
}
.health-department .carousel-indicators li.active{
	/*background-color: #14ACEC;*/
	background:linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
}
.health-department #first-section .text{
	font-family: 'Gilroy-Regular';
}
.health-department #third-section .carousel-indicators{
	margin-left: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
}
.health-department #second-section .banner{
	position: relative;
	background-image: url('../images/health-department-banner-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
.health-department #second-section .banner .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.58);
}
.health-department #second-section .banner .text-content{
	position: relative;
	z-index: 11;
	color: #fff;
}
.health-department #fourth-section .banner{
	position: relative;
	background-image: url('../images/zdravstven-oddel-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.health-department #fourth-section .banner .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.58);
}
.health-department #fourth-section .banner .text-content{
	position: relative;
	z-index: 11;
	color: #fff;
}
.body .offer .btn{
	background-color: rgba(21,169,199,1);
	border-radius: 10px;
	color: #fff;
	font-family: 'Gilroy-Regular';
}
.health-department .flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.body .offer{
	margin-bottom: 20px;
}
.body .offer .button-wrapper{
	margin-bottom: 20px;
}
/*---Recreation Center---*/
.recreation-center section{
	margin-top: 10px;
}
.recreation-center .text-content {
    padding-left: 60px;
    padding-right: 60px;
}
.recreation-center .banner{
	position: relative;
	background-image: url('../images/health-department-banner-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 110px;
	padding-bottom: 110px;
}
.recreation-center .banner .text-content{
	position: relative;
	z-index: 11;
	color: #fff;
}
.recreation-center .banner .overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.58);
}
.recreation-center .separator{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.recreation-center .separator img{
	width: 100%;
}
.recreation-center #third-section{
	margin-bottom: 10px;
}
/*---Contact---*/
#first-section.contact-section {
	margin-top: 10px;
	margin-bottom: 10px;
}
#first-section.contact-section .price-column{
	background-image: url('../images/price-list.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#first-section.contact-section .price-column .title{
	color: #fff;
}
#first-section.contact-section .location-column{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}
@media (max-width: 991px) {
	#home-footer {
		padding: 30px 15px;
	}
	#footer .copyright .text {
		border-bottom: 0;
	}
}
@media (min-width: 992px) {
	.mobile-menu, .mobile-menu-button {
		display: none;
	}
}
.mobile-menu {
	list-style-type: none;
	padding: 0;
}
.mobile-menu li {
	padding: 2px 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#header .header-menu .main-menu .navbar-container .nav li a {
		padding: 5px 7px;
	}
}
@media (max-width: 768px) {
	#header .container-fluid .text-content .title {
	    font-size: 39px;
	    line-height: 45px;
	}
	#header .container-fluid .text-content .text {
		font-size: 22px;
	}	
}
@media (max-width: 991px) {
	.row.flex {
		display: block;
	}
	.health-department .text-content, .recreation-center .text-content {
	    padding-left: 0;
	    padding-right: 0;
	}
	#header .header-menu .main-menu .navbar-container .nav {
		float: right;
	    right: 15px;
	    position: relative;
	    padding: 15px 0;
	}
	.social-media-container .list-inline {
		margin-left: 0;
	}
	.mobile-menu {
		margin-bottom: 0;
	}
	#mobile-menu {
		position: relative;
		top: -5px;
	}
}
@media (max-width: 480px) {
	#header .header-menu .topbar .text-right {
		text-align: center;
		width: 100%;
	}
	#header .header-menu .topbar .text-right .text {
	    padding-right: 0;
	}
	#header .header-menu .topbar .text-left {
	    display: none;
	}
	#header .header-menu .main-menu .logo-container {
		padding-left: 15px;
		padding-right: 15px;
	}

}
#mobile-menu {
	background: #fff;
	z-index: 999999999;
}
.mobile-menu {
	padding: 10px 15px;
	text-align: center;
}
.mobile-menu li {
	margin-bottom: 5px;
}
.mobile-menu li a {
	padding: 5px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    color: #000;
}
.mobile-menu li.active a {
	background: linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
	color: #fff;
	border-radius: 3px;
}
.mobile-menu-button {
	background-image: linear-gradient(90deg, rgba(47,215,144,0.7), rgba(21,169,199,0.7));
	border: 0px;
	outline: none;
    height: 30px;
    width: 30px;
    margin-top: 6px;
    margin-right: 15px;
}
.mobile-menu-button i {
	color: #fff;
}
.logo-container img {
	max-width: 160px;		
}
@media (min-width: 992px) and (max-width: 1199px) {
	.logo-container img {
		max-width: 130px;
	}
	#header .header-menu .main-menu .navbar-container .nav a {
		font-size: 14px;
	}
}
@media (max-width: 767px) {
	.logo-container img {
		max-width: 125px;
	}
	#header .header-menu .social-media-container {
		right: 43px;
		margin-right: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#header .header-menu .social-media-container {
		right: 70px;
	}
}
#scrollToTop.visible {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
#unscroll.visible {
	opacity: 0;
    visibility: hidden;
}
#unscroll {
	visibility: visible;
    opacity: 1.0;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#scrollToTop {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 20px;
    bottom: 20px;
    padding-top: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.travel-pills {
	display: inline-block;
	margin: 10px 0 20px;
}
.travel-pills li img {
	display: block;
	max-height: 50px;
	margin: 0 auto;
}
.travel-pills.nav-pills>li>a {
	padding-top: 20px;
    margin-bottom: 10px;
}
.travel-pills.nav-pills>li.active>a,
.travel-pills.nav-pills>li.active>a:hover,
.travel-pills.nav-pills>li:hover>a,
.travel-pills.nav-pills>li.active>a:focus{
	background: transparent;
	color: #000;
	padding-top: 20px;
    margin-bottom: 10px;
}
.tab-content {
	padding: 20px 0;
}
.tab-content ul {
	list-style: none;
	margin-top: 20px;
	padding: 0;
}
.travel-pills.nav-pills>li>a>span {
    color: #fff;
    background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
    border-radius: 3px;
    border: none;
    padding: 10px 18px;
  	position: relative;
  	top: 30px;
    font-family: 'Gilroy-Regular';
}
.travel-pills.nav-pills>li {
	margin-bottom: 15px;
	margin-right: 30px;
	transition: 0.3s;
	border: 1px solid transparent;
    border-radius: 4px;
}
.travel-pills.nav-pills>li:hover {
	border: 1px solid #000;
    border-radius: 4px;
}
.travel-pills.nav-pills>li.active {
    border: 1px solid #000;
    border-radius: 4px;
}
.travel-pills.nav-pills>li:last-child {
	margin-right: 0;
}
.tab-content li, .tab-content p {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}
.cenovnik {
	padding: 40px;
	background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
}
a.btn-cenovnik, a.btn-cenovnik:hover {
	border-radius: 20px;
	padding: 10px 15px;
	background: #fff;
	color: #000;
}
.contact-text {
	max-width: 950px;
	margin: 25px auto 10px;
	text-align: center;
}
.cenovnik h3 {
	font-size: 34px;
    font-family: 'Gilroy-Bold';
    color: #fff;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
	#first-section.contact-section .location-column {
		padding: 30px 15px;
	}
}
@media (max-width: 550px) {
	.travel-pills li {
		width: 100%;
	}
}
.video-wrapper #map {
	height: 100%;
}
.contact-topbar {
	background: rgba(0,0,0,0.4);
}
#header .btn-to-bottom.contact-to-bottom .btn .btn-in-wrapper {
	border-color: #000;
}
#header .btn-to-bottom.contact-to-bottom .btn .btn-in-wrapper i {
	color: #000;
}
#header .video-wrapper.contact-video-wrapper {
	height: 50vh;
}
#header .header-menu .main-menu .navbar-container .nav a {
	padding: 10px 10px;
}
.news-img-container {
	overflow: hidden;
	position: relative;
}
.news-img-container img {
	
}
#news-section {
	padding: 30px 0 50px;
}
#news-section .button-wrapper {
	margin-top: 20px;
}
#news-section .separator {
	margin-bottom: 45px;
}
.news-date {
    color: #333333;
    font-family: 'Gilroy-Regular';
    font-weight: 700;
}
#contact-form label, #contact-form-home label {
	display: none;
}
#header .header-menu .social-media-container .flags img {
	max-width: 25px;
    transform: translateZ(0);
}
.icon-container {
	position: relative;
	width: 30px;
	height: 30px;
}
.icon-container i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#home-footer .row .info .information .fa.fa-mobile  {
    font-size: 28px;
}
#home-footer .row .info .information .fa.fa-phone {
	font-size: 22px;
}
#home-footer .row .info ul li:first-child {
	padding-top: 0;
}
.list-lang {
	position: relative;
}
.list-lang > li {
	padding-top: 6px;
	padding-left: 6px;
}
#header .header-menu .social-media-container .active.flags {
	cursor: pointer;
}
.container-flex {
	display: flex;
}
.item-flex {
    position: relative;
	background-position: center;
	flex-grow: 1;
    width: 33%;
    height: 100vh;
    text-align: center;
}
.item-flex.first {
	background-image: url('../images/hotel-bozur.jpg');
}
.item-flex.second {
	background-color: rgba(47,215,144,1);
}
.item-flex.third {
	background-color: rgba(21,169,199,1);
}
.link-flex {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.carousel-inner.height-min {
		min-height: 230px;
	}
}
.text.full {
	text-align: center;
}
.text-content.minus-padding {
	padding-left: 30px;
}
li.flags {
	font-size: 12px;
}
@media (min-width: 992px){
	.navbar-nav>li {
	    float: none;
	    display: inline-block;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	#header .header-menu .social-media-container .list-inline {
	    margin-top: 15px;
	}
}
@media (max-width: 991px) {
	.list-lang li {
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	#header .header-menu .main-menu .navbar-container .nav {
	    padding: 7px 0;
	}
}
.news-area {
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	z-index: 999999;
	bottom: 5px;
    left: -500px;
	padding: 10px;
	padding-top: 35px;
    width: 420px;
    font-family: 'Gilroy-Regular';
}
.popup-img {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.news-h {
	font-weight: 700;
	display: inline;
	color: #333;
}
.news-p {
	display: block;
    margin: 0 0 5px;
}
.news-area .button-wrapper {
	float: right;
}
a.btn.btn-gradient.smaller {
	padding: 5px 9px;
}
a.btn.btn-gradient.smaller:after {
	font-family: 'FontAwesome';
	content: '\f105';
	position: absolute;
    left: 63px;
    top: 6px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}
a.btn.btn-gradient.smaller span {
	position: relative;
	transition: 0.4s;
	left: 0;
}
a.btn.btn-gradient.smaller:hover span {
    left: -4px;
}
a.btn.btn-gradient.smaller:hover:after {
	visibility: visible;
    opacity: 1;
    left: 65px;
}
.close-btn {
	float: right;
    position: relative;
    top: -25px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
    padding: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.close-btn:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
@media (max-width: 991px) {
	.news-area {
		display: none;
	}
}
a .title {
	color: #333;
}
/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox
{
	cursor: pointer;
	position: fixed;
	z-index: 10000;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
	#imagelightbox-loading div
	{
		width: 1.25em; /* 20 */
		height: 1.25em; /* 20 */
		background-color: #fff;

		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

	@-webkit-keyframes imagelightbox-loading
	{
		from { opacity: .5;	-webkit-transform: scale( .75 ); }
		50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
		to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
	}
	@keyframes imagelightbox-loading
	{
		from { opacity: .5;	transform: scale( .75 ); }
		50%	 { opacity: 1;	transform: scale( 1 ); }
		to	 { opacity: .5;	transform: scale( .75 ); }
	}


/* OVERLAY */

#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .8 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus { background-color: #111; }

	#imagelightbox-close:before,
	#imagelightbox-close:after
	{
		width: 2px;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 50%;
		margin-left: -1px;
	}
	#imagelightbox-close:before
	{
		-webkit-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}
	#imagelightbox-close:after
	{
		-webkit-transform: rotate( -45deg );
		-ms-transform: rotate( -45deg );
		transform: rotate( -45deg );
	}


/* CAPTION */

#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}


/* NAVIGATION */

#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
	#imagelightbox-nav button
	{
		width: 1em; /* 20 */
		height: 1em; /* 20 */
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		margin: 0 0.313em; /* 5 */
	}
	#imagelightbox-nav button.active
	{
		background-color: #fff;
	}


/* ARROWS */

.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
    background: linear-gradient(90deg, rgba(47,215,144,1), rgba(21,169,199,1));
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
	border: none;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus	{ background-color: rgba( 0, 0, 0, .75 ); }
.imagelightbox-arrow:active { background-color: #111; }

	.imagelightbox-arrow-left	{ left: 2.5em; /* 40 */ }
	.imagelightbox-arrow-right	{ right: 2.5em; /* 40 */ }

	.imagelightbox-arrow:before
	{
		width: 0;
		height: 0;
		border: 1em solid transparent;
		content: '';
		display: inline-block;
		margin-bottom: -0.125em; /* 2 */
	}
		.imagelightbox-arrow-left:before
		{
			border-left: none;
			border-right-color: #fff;
			margin-left: -0.313em; /* 5 */
		}
		.imagelightbox-arrow-right:before
		{
			border-right: none;
			border-left-color: #fff;
			margin-right: -0.313em; /* 5 */
		}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
	@-webkit-keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}
	@keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}

@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left	{ left: 1.25em; /* 20 */ }
	.imagelightbox-arrow-right	{ right: 1.25em; /* 20 */ }
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left	{ left: 0; }
	.imagelightbox-arrow-right	{ right: 0; }
}
.gallery {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.gallery img {
	transition: 0.3s;
}
.gallery:hover img {
    transform: scale(1.1) translateZ(0);
    opacity: 0.75;
}

.thumb {
    position: relative;
    overflow: hidden;
}
.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.border-overlay {
    border: solid 1px rgba(255, 255, 255, .5);
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px 0 0 10px;
    left: 0;
    z-index: 1;
}
.thumb .bg-overlay {
    opacity: 0;
    transition: 0.3s;
    background-color: #000;
    left: 0;
}
.thumb:hover .bg-overlay {
    opacity: 0.5;
}
.thumb .border-overlay {
    opacity: 1;
    transition: 0.3s;
    border-color: rgba(21,169,199,0.7);
}
.thumb img {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transition: 0.3s ease-out;
}
.gallery-wrapper {
	margin: 30px 0;
}
.gallery-col {
	margin-bottom: 30px;
}
.news-col {
	margin-bottom: 50px;
}
#bg {
  position: relative; 
  bottom: 50%; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.news-img-container img.zoom {
	transition: 0.4s ease-in-out;
}
.news-img-container a:hover img.zoom {
	transform: scale(1.1) translateZ(0);
}
.title.title-fix {
	margin-bottom: 0;
}
a.btn.btn-gradient:after {

}
#header .contact-video-wrapper.news-item-wrapper {
    height: 30vh;
}
.news-content {
	margin: 50px 0;
}
.news-content p {
    font-size: 16px;
    font-family: 'Gilroy-Regular';
    text-align: justify;
    padding-bottom: 20px;
}
.news-content .news-date {
	text-align: center;
}
.news-content .btn-right {
	position: absolute;
    right: 0;
}
.news-content .btn-left {
	position: absolute;
    left: 0;
}
.more-margin {
	margin-bottom: 50px;
}
.btns-wrap {
	position: relative;
}

a.btn.btn-gradient.read:after {
	font-family: 'FontAwesome';
	content: '\f105';
	position: absolute;
    left: 87px;
    top: 11px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}
a.btn.btn-gradient.read span {
	position: relative;
	transition: 0.4s;
	left: 0;
}
a.btn.btn-gradient.read:hover span {
    left: -8px;
}
a.btn.btn-gradient.read:hover:after {
	visibility: visible;
    opacity: 1;
    left: 95px;
}
a.btn.btn-gradient.toLeft:after {
	font-family: 'FontAwesome';
	content: '\f104';
	position: absolute;
    left: 15px;
    top: 11px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}
a.btn.btn-gradient.toLeft span {
	position: relative;
	transition: 0.4s;
	left: 0;
}
a.btn.btn-gradient.toLeft:hover span {
    left: 8px;
}
a.btn.btn-gradient.toLeft:hover:after {
	visibility: visible;
    opacity: 1;
    left: 9px;
}
.i-weather {
    font-size: 16px;
}
#hotels-section{
	margin-bottom: 10px;
	margin-top: 20px;
}
#hotels-section .row .col-sm-6{
	padding-left: 0;
	padding-right: 0;
}

#hotels-section .image{
	width: 100%;
}
#hotels-section .overlay, .item-flex .overlay{
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0.7), transparent);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}
#hotels-section .content, .item-flex .content{
	transition: 0.3s ease;
}
#hotels-section .overlay:hover .content, .item-flex .overlay:hover .content{
	background: rgba(0,0,0,0.5);
}
#hotels-section .content, .item-flex .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 12;
	text-align: center;
}
#hotels-section .content .title, .item-flex .content .title{
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	transform: translateY(-50%);
	top: 50%;
	margin: 0;
}
@media (max-width: 991px) {
	#hotels-section .content .title {
		font-size: 25px;
	}
}
#hotels-section .content .text, .item-flex .content .text{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#hotels-section .content .button-wrapper{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
#hotels-section .top, .item-flex .top {
	position: absolute;
	top: 0;
	width: calc( 100% - 80px );
	border-bottom: 1px solid #fff;
	left: 40px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
#hotels-section .right, .item-flex .right {
	position: absolute;
	height: calc( 100% - 40px );
	right: 0;
	border-left: 1px solid #fff;
	top: 20px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
#hotels-section .bottom, .item-flex .bottom {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #fff;
	width: calc( 100% - 80px );
	left: 40px;
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
#hotels-section .left, .item-flex .left {
	position: absolute;
	left: 0;
	height: calc( 100% - 40px );
	border-right: 1px solid #fff;
	top: 20px;	
	opacity: 0;
	z-index: 14;
	transition: 0.3s ease;
}
#hotels-section .overlay:hover .top, .item-flex .overlay:hover .top{
	opacity: 1;
	top:20px;
}
#hotels-section .overlay:hover .right, .item-flex .overlay:hover .right{
	opacity: 1;
	right: 40px;
}
#hotels-section .overlay:hover .bottom, .item-flex .overlay:hover .bottom{
	opacity: 1;
	bottom: 20px;
}
#hotels-section .overlay:hover .left, .item-flex .overlay:hover .left{
	opacity: 1;
	left: 40px;
}
.hotel-content p{
	font-size: 16px;
	font-family: 'Gilroy-Regular';
	text-align: justify;
}
#first-section.hotel-wrapper, #first-section.restaurant-wrap, #first-section.wrap-hotel, #first-section.news-main  {
	padding-top: 30px;
    padding-bottom: 30px;
}