{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage }}">
<head>
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <!--Stylesheet-->
    <!--Font awesome-->
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/font-awesome.min.css">
    <!--Weather Font-->
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/weather-icons.css">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="{{  theme_url }}/css/bootstrap.min.css">
    <!--Animate.css-->
    <link rel="stylesheet" type="text/css" href="{{  theme_url }}/css/animate.css">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/style.css">

    {% block style %}
        
    {% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
    <div id="sb-site">
        <header id="header">
            {% include 'partials/header.html.twig' %}
        </header>

        <div class="body {{ page.slug }}">
            {% block content %}

            {% endblock %}
        </div>
        <footer id="footer">
            {% if page.url == page.find('/home').url %}
                {% include 'partials/home/footer.html.twig' %}
            {% endif %}
                {% include 'partials/footer.html.twig' %}
        </footer>

    </div>
    <!--jQuery script-->
    <script type="text/javascript" src="{{ theme_url }}/js/jquery-3.1.1.min.js"></script>
    <!--Bootstrap Script-->
    <script type="text/javascript" src="{{ theme_url }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/imagelightbox.js"></script>
    <script>

        $( function()
        {
            var
                // ACTIVITY INDICATOR

                activityIndicatorOn = function()
                {
                    $( '<div id="imagelightbox-loading"><div></div></div>' ).appendTo( 'body' );
                },
                activityIndicatorOff = function()
                {
                    $( '#imagelightbox-loading' ).remove();
                },


                // OVERLAY

                overlayOn = function()
                {
                    $( '<div id="imagelightbox-overlay"></div>' ).appendTo( 'body' );
                },
                overlayOff = function()
                {
                    $( '#imagelightbox-overlay' ).remove();
                },


                // CLOSE BUTTON

                closeButtonOn = function( instance )
                {
                    $( '<button type="button" id="imagelightbox-close" title="Close"></button>' ).appendTo( 'body' ).on( 'click touchend', function(){ $( this ).remove(); instance.quitImageLightbox(); return false; });
                },
                closeButtonOff = function()
                {
                    $( '#imagelightbox-close' ).remove();
                },


                // CAPTION

                captionOn = function()
                {
                    var description = $( 'a[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"] img' ).attr( 'alt' );
                    if( description.length > 0 )
                        $( '<div id="imagelightbox-caption">' + description + '</div>' ).appendTo( 'body' );
                },
                captionOff = function()
                {
                    $( '#imagelightbox-caption' ).remove();
                },


                // NAVIGATION

                navigationOn = function( instance, selector )
                {
                    var images = $( selector );
                    if( images.length )
                    {
                        var nav = $( '<div id="imagelightbox-nav"></div>' );
                        for( var i = 0; i < images.length; i++ )
                            nav.append( '<button type="button"></button>' );

                        nav.appendTo( 'body' );
                        nav.on( 'click touchend', function(){ return false; });

                        var navItems = nav.find( 'button' );
                        navItems.on( 'click touchend', function()
                        {
                            var $this = $( this );
                            if( images.eq( $this.index() ).attr( 'href' ) != $( '#imagelightbox' ).attr( 'src' ) )
                                instance.switchImageLightbox( $this.index() );

                            navItems.removeClass( 'active' );
                            navItems.eq( $this.index() ).addClass( 'active' );

                            return false;
                        })
                        .on( 'touchend', function(){ return false; });
                    }
                },
                navigationUpdate = function( selector )
                {
                    var items = $( '#imagelightbox-nav button' );
                    items.removeClass( 'active' );
                    items.eq( $( selector ).filter( '[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"]' ).index( selector ) ).addClass( 'active' );
                },
                navigationOff = function()
                {
                    $( '#imagelightbox-nav' ).remove();
                },


                // ARROWS

                arrowsOn = function( instance, selector )
                {
                    var $arrows = $( '<button type="button" class="imagelightbox-arrow imagelightbox-arrow-left"></button><button type="button" class="imagelightbox-arrow imagelightbox-arrow-right"></button>' );

                    $arrows.appendTo( 'body' );

                    $arrows.on( 'click touchend', function( e )
                    {
                        e.preventDefault();

                        var $this   = $( this ),
                            $target = $( selector + '[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"]' ),
                            index   = $target.index( selector );

                        if( $this.hasClass( 'imagelightbox-arrow-left' ) )
                        {
                            index = index - 1;
                            if( !$( selector ).eq( index ).length )
                                index = $( selector ).length;
                        }
                        else
                        {
                            index = index + 1;
                            if( !$( selector ).eq( index ).length )
                                index = 0;
                        }

                        instance.switchImageLightbox( index );
                        return false;
                    });
                },
                arrowsOff = function()
                {
                    $( '.imagelightbox-arrow' ).remove();
                };


            //  WITH ACTIVITY INDICATION

            $( 'a[data-imagelightbox="a"]' ).imageLightbox(
            {
                onLoadStart:    function() { activityIndicatorOn(); },
                onLoadEnd:      function() { activityIndicatorOff(); },
                onEnd:          function() { activityIndicatorOff(); }
            });


            //  WITH OVERLAY & ACTIVITY INDICATION

            $( 'a[data-imagelightbox="b"]' ).imageLightbox(
            {
                onStart:     function() { overlayOn(); },
                onEnd:       function() { overlayOff(); activityIndicatorOff(); },
                onLoadStart: function() { activityIndicatorOn(); },
                onLoadEnd:   function() { activityIndicatorOff(); }
            });


            //  WITH "CLOSE" BUTTON & ACTIVITY INDICATION

            var instanceC = $( 'a[data-imagelightbox="c"]' ).imageLightbox(
                {
                    quitOnDocClick: false,
                    onStart:        function() { closeButtonOn( instanceC ); },
                    onEnd:          function() { closeButtonOff(); activityIndicatorOff(); },
                    onLoadStart:    function() { activityIndicatorOn(); },
                    onLoadEnd:      function() { activityIndicatorOff(); }
                });


            //  WITH CAPTION & ACTIVITY INDICATION

            $( 'a[data-imagelightbox="d"]' ).imageLightbox(
            {
                onLoadStart: function() { captionOff(); activityIndicatorOn(); },
                onLoadEnd:   function() { captionOn(); activityIndicatorOff(); },
                onEnd:       function() { captionOff(); activityIndicatorOff(); }
            });


            //  WITH ARROWS & ACTIVITY INDICATION

            var selectorG = 'a[data-imagelightbox="g"]';
            var instanceG = $( selectorG ).imageLightbox(
                {
                    onStart:        function(){ arrowsOn( instanceG, selectorG ); overlayOn();},
                    onEnd:          function(){ arrowsOff(); activityIndicatorOff(); overlayOff();},
                    onLoadStart:    function(){ activityIndicatorOn(); },
                    onLoadEnd:      function(){ $( '.imagelightbox-arrow' ).css( 'display', 'block' ); activityIndicatorOff(); }
                });


            //  WITH NAVIGATION & ACTIVITY INDICATION

            var selectorE = 'a[data-imagelightbox="e"]';
            var instanceE = $( selectorE ).imageLightbox(
                {
                    onStart:     function() { navigationOn( instanceE, selectorE ); },
                    onEnd:       function() { navigationOff(); activityIndicatorOff(); },
                    onLoadStart: function() { activityIndicatorOn(); },
                    onLoadEnd:   function() { navigationUpdate( selectorE ); activityIndicatorOff(); }
                });


            //  ALL COMBINED

            var selectorF = 'a[data-imagelightbox="f"]';
            var instanceF = $( selectorF ).imageLightbox(
                {
                    onStart:        function() { overlayOn(); closeButtonOn( instanceF ); arrowsOn( instanceF, selectorF ); },
                    onEnd:          function() { overlayOff(); captionOff(); closeButtonOff(); arrowsOff(); activityIndicatorOff(); },
                    onLoadStart:    function() { captionOff(); activityIndicatorOn(); },
                    onLoadEnd:      function() { captionOn(); activityIndicatorOff(); $( '.imagelightbox-arrow' ).css( 'display', 'block' ); }
                });


            //  DYNAMICALLY ADDED ITEMS

            var instanceH = $( 'a[data-imagelightbox="h"]' ).imageLightbox(
                {
                    quitOnDocClick: false,
                    onStart:        function() { closeButtonOn( instanceH ); },
                    onEnd:          function() { closeButtonOff(); activityIndicatorOff(); },
                    onLoadStart:    function() { activityIndicatorOn(); },
                    onLoadEnd:      function() { activityIndicatorOff(); }
                });

            $( '.js--add-dynamic ' ).on( 'click', function( e )
            {
                e.preventDefault();
                var items = $( '.js--dynamic-items' );
                instanceH.addToImageLightbox( items.find( 'a' ) );
                $( '.js--dynamic-place' ).append( items.find( 'li' ).detach() );
                $( this ).remove();
                items.remove();
            });

        });
    </script>
<script>
  var callbackFunction = function(data) {
    var jsonData= data.query.count;

    if(jsonData != 0){
        var item = data.query.results.channel.item;
        var n=parseInt(item.condition.temp);
        n=( n - 32 ) * 5/9;
        deg=n;
        $('#temperature').text(Math.round(deg)+"°C | ");

        var weather = item.condition.code;

        if(weather >= 0 && weather <= 7 ){
        $("#weather-target").addClass("ion-ios-thunderstorm-outline");
        }else if(weather >= 8 && weather <= 12 ){
        $("#weather-target").addClass("ion-ios-rainy-outline");
        }else if(weather >= 13 && weather <= 16 ){
        $("#weather-target").addClass("ion-ios-snowy");
        }else if(weather >= 26 && weather <= 30 ){
        $("#weather-target").addClass("ion-ios-cloudy-outline");
        }else if(weather >= 31 && weather <= 34 ){
        $("#weather-target").addClass("ion-ios-sunny-outline");
        }else if(weather >= 23 && weather <= 25){
            $("#weather-target").addClass("ion-ios-cloudy-outline");
        }else{
        $("#weather-target").addClass("ion-ios-partlysunny-outline");
        }
    }else{
        realoadYahooJscript();
    }
    color="rgba(0,0,0, 0.4)";

    $('#weather-overlay').css("background-color", color);
  };
    var src= "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22gevgelija%22)&format=json&callback=callbackFunction";
    function realoadYahooJscript(){
        $('script[src="]'+ src +'"]').remove();
        $("<script>").attr('src', src).appendTo('body');
    }



</script>

<script src="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22gevgelija%22)&format=json&callback=callbackFunction"></script>


    <script type="text/javascript">
    var urlPath;

    $(document).ready(function(){
        $("#btn-to-first-section").click(function(e){
            e.preventDefault();
            $('html, body').animate({
            scrollTop: $("#first-section").offset().top
            }, 1000);
        });
        $("#hotel-btn").click(function(e){
            e.preventDefault();
            $('html, body').animate({
            scrollTop: $("#hotels-section").offset().top
            }, 1000);
        });

        {# // urlPath="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22gevgelija%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys";
        // loadJson();
        #}
    });

 {#   function loadJson(){
        var httpRequest= new XMLHttpRequest();
        httpRequest.onreadystatechange=function(){
            if(httpRequest.status == 200 && httpRequest.readyState == 4){
                var json=JSON.parse(this.responseText);
                var deg=json.main.temp;
                var n=parseInt(deg);
                n=n/32;
                deg=n;

                $('#temperature').text(Math.round(deg)+"°C | ");
            }
        };

        httpRequest.open("GET", urlPath,true);
        httpRequest.send();
    };#}

    </script>
    <script>
        $(document).ready(function() {
            $("#unscroll").animate({
                left:'5px'
            });
        });
    </script>
    {% block javascripts %}

    {% endblock %}
</body>
</html>
