<div id="scrollToTop" class="to-top"><i class="fa fa-arrow-up"></i></div>
<script>
var currentScrollY;
var inScroll;

var stopScrollToTop = function() {
    clearInterval(startScroll);
    inScroll = false;
}
var scrollStep = function() {
    if(window.scrollY > currentScrollY || window.scrollY <= 0)
        stopScrollToTop();
    else if(window.scrollY > 500) {
        window.scrollBy(0, -50);
    }
    else {
        window.scrollBy(0, -(window.scrollY/10))
    }
    currentScrollY = window.scrollY;
}
var scrollToTop = function() {
    if(window.scrollY > 0 && !inScroll){
        currentScrollY = window.scrollY;
        inScroll = true;
        startScroll = setInterval(scrollStep, 16);
    }
}
document.getElementById('scrollToTop').addEventListener('click', scrollToTop);
window.addEventListener('scroll', function(){
    if(window.scrollY < 100)
        document.getElementById('scrollToTop').classList.remove('visible');
    else 
        document.getElementById('scrollToTop').classList.add('visible');
});
</script>
{% if page != page.find('/contact') %}
<div id="map"></div>
<script>
      function initMap() {
        var uluru = {lat: 41.1723794, lng: 22.4895533};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          scrollwheel: false
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
{% endif %}
<div class="copyright container-fluid">
	<div class="img-container">
		<div class="logo">
			{% if grav.language.getActive == 'mk' or grav.language.getActive == '' %}
				<img class="img-responsive" src="{{ theme_url }}/images/logo-mk.png">
			{% else %}
				<img class="img-responsive" src="{{ theme_url }}/images/logo-en.png">
			{% endif %}
		</div>
	</div>
	<p class="text">„Негорски Бањи“ Copyright © 2017. All Rights Reserved. Design &amp; Development by <a href="http://kara5.mk" target="_blank">Kara5</a></p>
	<div class="social-media">
		<ul>
			<li><a href="#" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="#" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAumzFvZzY4PgbOdPib_IyZdoROPAtJpII &callback=initMap"></script>