{% if page == page.find('/') %}
<div id="unscroll" class="news-area">
	<div id="closeNews" onclick="closeNews()" class="close-btn"><i class="fa fa-times"></i></div>
	{% for news in page.find('/news').children|slice(0, 1) %}
	<div>
		<img src="{{ news.media['featured.jpg'].cropResize(120, 120).url }}" class="img-responsive popup-img">
		<a href="{{ news.url }}"><h4 class="news-h">{{ news.title|slice(0, 30) }}</h4></a>
	</div>
	<p class="news-p">{{ news.content|striptags|slice(0, 60) ~ '...' }}</p>
		<div class="button-wrapper">
				<a href="{{ page.find('/news').url }}" class="btn btn-gradient smaller"><span>Новости</span></a>
</div>
{% endfor %}
</div>
<script>
var currentScrollY;
var inScroll;

var stopScrollToTop = function() {
    clearInterval(startScroll);
    inScroll = false;
}
var scrollStep = function() {
    if(window.scrollY > currentScrollY || window.scrollY <= 0)
        stopScrollToTop();
    else if(window.scrollY > 500) {
        window.scrollBy(0, -50);
    }
    else {
        window.scrollBy(0, -(window.scrollY/10))
    }
    currentScrollY = window.scrollY;
}
var unscroll = function() {
    if(window.scrollY > 0 && !inScroll){
        currentScrollY = window.scrollY;
        inScroll = true;
        startScroll = setInterval(scrollStep, 16);
    }
}
function closeNews() {
    document.getElementById('unscroll').style.left = '-500px';
}
document.getElementById('unscroll').addEventListener('click', unscroll);
window.addEventListener('scroll', function(){
    if(window.scrollY < 100)
        document.getElementById('unscroll').classList.remove('visible');
    else 
        document.getElementById('unscroll').classList.add('visible');
});

</script>
{% endif %}
<div class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="header-menu">
				<div class="topbar col-sm-12{% if page == page.find('/contact') %} contact-topbar{% endif %}">
					<div class="row">
						<div class="col-xs-6 col-sm-8 col-md-6 text-left">
							<ul class="contact-list list-inline text-white text">
								<li>
									<i class="fa fa-phone"></i>+389(0) 34 231 174
								</li>
								<li class="hidden-xs">
									<i class="fa fa-envelope"></i>info@negorskibanji.com.mk
								</li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-6 text-right">
							<p class="text text-white"><span class="wi wi-cloudy"></span> <span id="temperature">--°C |</span> с. Негорци<span class="hidden-xs hidden-sm">, Гевгелија, Република Македонија</span></p>
						</div>
					</div>
				</div>
				<div class="main-menu">
					<div class="logo-container">
						{# <img  class="logo img-responsive" src=""> #}
							<a href="{{ page.find("/").url }}">
								{% if grav.language.getActive == 'mk' or grav.language.getActive == '' %}
									<img src="{{ theme_url }}/images/logo-mk.png">
								{% else %}
									<img src="{{ theme_url }}/images/logo-en.png">
								{% endif %}
							</a>
					</div>
					<div class="social-media-container">
						<ul class="list-inline list-lang">
							{% for l in grav.language.getLanguages %}
								<li class="flags{% if l == grav.language.getActive or l == 'mk' and grav.language.getActive == '' %} active{% endif %}"><a href="{{ uri.rootUrl }}/{{ l }}{{ page.rawRoute }}"><img src="{{ theme_url}}/images/{{ l }}.png"></a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="navbar-container">
						<ul class="nav navbar-nav">
			                {% if theme_config.dropdown.enabled %}
						        {{ _self.loop(pages) }}
						    {% else %}
						        {% for page in pages.children.visible %}
						            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
						            <li class="{{ current_page }} hidden-xs hidden-sm">
						                <a href="{{ page.url }}" class="menu-item">
						                    {{ page.menu }}
						                </a>
						            </li>
						        {% endfor %}
						        <button data-toggle="collapse" data-target="#mobile-menu" class="mobile-menu-button"><i class="fa fa-bars"></i></button>
						    {% endif %}
						    {% for mitem in site.menu %}
						        <li>
						            <a href="{{ mitem.url }}" class="menu-item">
						                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
						                {{ mitem.text }}
						            </a>
						        </li>
						    {% endfor %}
						</ul>
					</div>

				</div>
				<div id="mobile-menu" class="collapse" class="mobile-menu">
					<ul class="mobile-menu">
				        {% for page in pages.children.visible %}
				            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
			            	<li class="{{ current_page }}">
			            	    <a href="{{ page.url }}" class="menu-item">
			            	        {{ page.menu }}
			            	    </a>
			            	</li>
				        {% endfor %}
			        </ul>
		        </div>
			</div>
			<div class="container text-content text-center">
				<div class="heading-content row text-center">
					{% if page == page.find('/contact') %}

					{% elseif page.parent == page.find('/news') or page == page.find('/news') %}

					{% elseif page.url != page.find('/home').url %}
					<h1 class="title">
						{{ page.title }}
					</h1>
					<div class="separator text-center">
						<img class="img-responsive" src="{{ theme_url }}/images/separator.png">
					</div>
					<p class="text">Едно со природата.</p>
					{% elseif page.url == page.find('/home').url %}
						<h1 class="title">Негорски бањи</h1>
						<div class="separator text-center">
							<img class="img-responsive" src="{{ theme_url }}/images/separator.png">
						</div>
						<p class="text">Едно со природата.</p>
					{% endif %}
				</div>
			</div>
			{% if page != page.find('/contact') and page.parent != page.find('/news') and page != page.find('/news')  %}
			<div class="btn-to-bottom">
				<a href="" id="btn-to-first-section" class="btn">
					<div class="btn-in-wrapper">
						<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</div>
				</a>
			</div>
			{% endif %}
			<div class="video-content">
				<div class="video-wrapper{% if page == page.find('/contact') %} contact-video-wrapper{% elseif page == page.find('/news').activeChild or page == page.find('/news') %} contact-video-wrapper news-item-wrapper{% endif %}">
					{% if page.url != page.find('/contact').url and page != page.find('/news').activeChild and page != page.find('/news') %}
					<video id="video" playsinline autoplay muted loop>
						{% if page.url == page.find('/home').url %}
						<source src="{{ theme_url }}/videos/video-home.mp4" type="video/mp4">	
						{% elseif page.url == page.find('/health-department').url %}
						<source src="{{ theme_url }}/videos/video-health.mp4" type="video/mp4">
						{% elseif page.url == page.find('/recreation-center').url %}
						<source src="{{ theme_url }}/videos/video-recreation.mp4" type="video/mp4">
						{% elseif page.url == page.find('/restaurant').url %}
						<source src="{{ theme_url }}/videos/restoran.mp4" type="video/mp4">
						{% elseif page.url == page.find('/hotel/hotel-jasen').url %}
						<source src="{{ theme_url }}/videos/jasen.mp4" type="video/mp4">						
						{% elseif page.url == page.find('/hotel/hotel-ilinden').url %}
						<source src="{{ theme_url }}/videos/ilinden.mp4" type="video/mp4">					
						{% elseif page.url == page.find('/hotel').url %}
						<source src="{{ theme_url }}/videos/hoteli.mp4" type="video/mp4">
						{% endif %}
					</video>
					{% elseif page == page.find('/news').activeChild or page == page.find('/news') %}
					{% set image = page.media['featured.jpg'].url %}
						<img src="{{ image }}" id="bg" alt="">
					{% else %}
					<div id="map"></div>
					<script>
					      function initMap() {
					        var uluru = {lat: 41.1733831, lng: 22.4912187};
					        var map = new google.maps.Map(document.getElementById('map'), {
					          zoom: 10,
					          center: uluru,
					          scrollwheel: false
					        });
					        var marker = new google.maps.Marker({
					          position: uluru,
					          map: map
					        });
					      }
					</script>
					{% endif %}
				</div>
				{% if page != page.find('/contact') %}<div id="weather-overlay" class="overlay"></div>{% endif %}
			</div>
		</div>	
	</div>
</div>